root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{cpp,h,hpp}]
charset = utf-8-bom
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[*.def]
indent_style = tab

[resource.h]
charset = utf-8
end_of_line = crlf

[*.{htm,html}]
charset = utf-8

[*.css]
charset = utf-8
insert_final_newline = false
